@charset "utf-8";
/**************************************************
* font-family
**************************************************/
/* Noto-Sans 글꼴*/
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
/**************************************************
* reset.css
**************************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video { 
    border:0; 
    font-size:100%; 
    margin:0; 
    padding:0; 
    vertical-align:baseline; 
    outline:none !important; 
    box-sizing:border-box; 
    font-weight:300; 
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section { 
    display:block; 
}
body { 
    position:relative;
    background-color:transparent; 
    font-family:'Noto Sans KR', sans-serif !important; 
    font-size:14px; 
    line-height:1 !important; 
    -webkit-text-size-adjust:none; 
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img { 
    max-width:100%; 
    max-height:100%; 
    outline:0; 
    border:0; 
    vertical-align:top; 
}
a, a:hover, a:focus { 
    outline:none; 
    text-decoration:none; 
}
em { 
    font-style:normal; 
}

/* ----------------------------------------------------------------------------------------------------
Super Form Reset
A couple of things to watch out for:
- IE8: If a text input doesn't have padding on all sides or none the text won't be centered.
- The default border sizes on text inputs in all UAs seem to be slightly different. You're better off using custom borders.
- You NEED to set the font-size and family on all form elements
- Search inputs need to have their appearance reset and the box-sizing set to content-box to match other UAs
- You can style the upload button in webkit using ::-webkit-file-upload-button
- ::-webkit-file-upload-button selectors can't be used in the same selector as normal ones. FF and IE freak out.
- IE: You don't need to fake inline-block with labels and form controls in IE. They function as inline-block.
- By turning off ::-webkit-search-decoration, it removes the extra whitespace on the left on search inputs
----------------------------------------------------------------------------------------------------*/
input,
label,
select,
button,
textarea
{
	margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;
	
	/* Browsers have different default form fonts */
	font-size:13px;
}

/* Remove the stupid outer glow in Webkit */
input:focus
{
	outline:0;
}

/* Box Sizing Reset
-----------------------------------------------*/

/* All of our custom controls should be what we expect them to be */
input,
textarea
{
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select
{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

/* Text Inputs
-----------------------------------------------*/

input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=range],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week]
{
}

/* Button Controls
-----------------------------------------------*/

input[type=checkbox],
input[type=radio]
{
	width:13px;
	height:13px;
}

/* File Uploads
-----------------------------------------------*/

input[type=file]
{

}

/* Search Input
-----------------------------------------------*/

/* Make webkit render the search input like a normal text field */
input[type=search]
{
	-webkit-appearance:textfield;
	-webkit-box-sizing:border-box;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration
{
	display:none;
}

/* Buttons
-----------------------------------------------*/

button,
input[type="reset"],
input[type="button"],
input[type="submit"]
{
	/* Fix IE7 display bug */
	overflow:visible;
	width:auto;
}

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button
{	
	padding:0;
	border:0;
	background:none;
}

/* Textarea
-----------------------------------------------*/

textarea 
{
	/* Move the label to the top */
	vertical-align:top;
	
	/* Turn off scroll bars in IE unless needed */
	overflow:auto;
}

/* Selects
-----------------------------------------------*/

select
{
    
}

select[multiple] 
{
	/* Move the label to the top */
	vertical-align:top;
}

/**************************************************
* common.css
**************************************************/
input, textarea { 
    -webkit-border-radius:0; 
    border:1px solid #ccc; 
    background-color:#fff; 
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
button, input[type=reset], input[type=button], input[type=submit], input[type=checkbox], input[type=radio], select { 
    cursor:pointer; 
}
input[type=text], input[type=password], input[type=search] { 
    width:100%; 
    padding:0 5px; 
}
select {
    padding:0 5px; 
    outline:none;
}
@media (min-width:480px) {
    input[type=text], input[type=password], input[type=search] {
        padding:0 10px; 
    }
    select {
        padding:0 10px; 
    }
}
input[type=radio] { 
    border-radius:100%; 
}
textarea { 
    width:100%; 
    resize:none; 
    padding:10px; 
}
select { 
    -webkit-appearance:none;
    -moz-appearance:none; 
    appearance:none; 
}
select::-ms-expand { 
    /* 화살표 없애기 for IE10, 11*/ 
    display:none; 
}
label { 
    cursor:pointer; 
}

/* 모바일 */
.pc-only { display:none; }
.mobile-only { display:block; }
@media (min-width:992px) {
    .pc-only { display:block; }
    .mobile-only { display:none; }
}

/* commonTab */
.hiddencontents { display:none; overflow:hidden; }
.hiddencontents.on { display:block; }

/* clearfix */
.clearfix:after { clear:both; content:""; display:block; overflow:hidden; }

/* 글줄임 */
.ellipsis { overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; display:block; width:100%; }

/* table_num */
.table_num { clear:both; margin:30px 0 50px 0; width:100%; text-align:center; position:relative; }
.table_num ul { height:24px; line-height:24px; display:table; margin:0 auto;}
.table_num ul li { float:left; margin-left:5px; text-align:center; width:24px; height:24px;  border-radius:3px;}
.table_num ul li a { display:block; color:#263d57; line-height:24px; }
.table_num ul li.on { background:#263d57; }
.table_num ul li.on a { color:#fff; }
.table_num ul li a[title^="Prev"] { display:block; width:100%; height:100%; border-radius:50%; }
.table_num ul li a[title^="Next"] { display:block; width:100%; height:100%; border-radius:50%; }
.table_num ul li a[title^="Prev"] span { font-size:20px; line-height:20px; display:block; }
.table_num ul li a[title^="Next"] span { font-size:20px; line-height:20px; display:block; }

.paging { height:24px; line-height:24px; font-size:12px; }

@media (min-width:480px) {
    .table_num ul { height:30px; line-height:30px; }
    .table_num ul li { width:30px; height:30px; }
    .table_num ul li a { line-height:30px; }
    .table_num ul li a[title^="Prev"] span { font-size:24px; line-height:24px; }
    .table_num ul li a[title^="Next"] span { font-size:24px; line-height:24px; }
    
    .paging { font-size:13px; }
}

/**************************************************
* padding
**************************************************/
.padding_b_5{
    padding-bottom: 5px;
}
.padding_b_10{
    padding-bottom: 10px;
}
.padding_b_15{
    padding-bottom: 15px;
}
.padding_b_20{
    padding-bottom: 20px;
}
.padding_b_25{
    padding-bottom: 25px;
}
.padding_b_25{
    padding-bottom: 25px;
}
.padding_b_30{
    padding-bottom: 30px;
}
.padding_b_40{
    padding-bottom: 40px;
}
.padding_t_5{
    padding-top: 5px;
}
.padding_t_10{
    padding-top: 10px;
}
.padding_t_15{
    padding-top: 15px;
}
.padding_t_20{
    padding-top: 20px;
}
.padding_t_25{
    padding-top: 25px;
}
.padding_t_30{
    padding-top: 30px;
}
.padding_t_40{
    padding-top: 40px;
}
.padding_l_5{
    padding-left: 5px;
}
.padding_l_10{
    padding-left: 10px;
}
.padding_l_15{
    padding-left: 15px;
}
.padding_l_20{
    padding-left: 20px;
}
.padding_l_25{
    padding-left: 25px;
}
.padding_l_30{
    padding-left: 30px;
}
.padding_l_40{
    padding-left: 40px;
}
.padding_r_5{
    padding-right: 5px;
}
.padding_r_10{
    padding-right: 10px;
}
.padding_r_15{
    padding-right: 15px;
}
.padding_r_20{
    padding-right: 20px;
}
.padding_r_25{
    padding-right: 25px;
}
.padding_r_30{
    padding-right: 30px;
}
.padding_r_40{
    padding-right: 40px;
}

/**************************************************
* margin
**************************************************/

.margin_b_5{
    margin-bottom: 5px;
}
.margin_b_10{
    margin-bottom: 10px;
}
.margin_b_15{
    margin-bottom: 15px;
}
.margin_b_20{
    margin-bottom: 20px;
}
.margin_b_25{
    margin-bottom: 25px;
}
.margin_b_25{
    margin-bottom: 25px;
}
.margin_b_30{
    margin-bottom: 30px;
}
.margin_b_40{
    margin-bottom: 40px;
}
.margin_t_5{
    margin-top: 5px;
}
.margin_t_10{
    margin-top: 10px;
}
.margin_t_15{
    margin-top: 15px;
}
.margin_t_20{
    margin-top: 20px;
}
.margin_t_25{
    margin-top: 25px;
}
.margin_t_30{
    margin-top: 30px;
}
.margin_t_40{
    margin-top: 40px;
}
.margin_l_5{
    margin-left: 5px;
}
.margin_l_10{
    margin-left: 10px;
}
.margin_l_15{
    margin-left: 15px;
}
.margin_l_20{
    margin-left: 20px;
}
.margin_l_25{
    margin-left: 25px;
}
.margin_l_30{
    margin-left: 30px;
}
.margin_l_40{
    margin-left: 40px;
}
.margin_r_5{
    margin-right: 5px;
}
.margin_r_10{
    margin-right: 10px;
}
.margin_r_15{
    margin-right: 15px;
}
.margin_r_20{
    margin-right: 20px;
}
.margin_r_25{
    margin-right: 25px;
}
.margin_r_30{
    margin-right: 30px;
}
.margin_r_40{
    margin-right: 40px;
}